<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>

<httpPlatform processPath="C:\Python312\python.exe" arguments="C:\yourwebsite.com\manage.py runserver %HTTP_PLATFORM_PORT%" requestTimeout="00:10:00" stdoutLogEnabled="true" stdoutLogFile="C:\yourwebsite.com\logs\logs.log">
            <environmentVariables>
                <environmentVariable name="SERVER_PORT" value="%HTTP_PLATFORM_PORT%" />
            </environmentVariables>
        </httpPlatform>
        <handlers>
            <add name="MyPyHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>



    </system.webServer>




    <appSettings>
        <add key="PYTHONPATH" value="C:\yourwebsite.com" />
        <add key="ASGI_HANDLER" value="django.core.asgi.get_asgi_application()" />
        <add key="DJANGO_SETTINGS_MODULE" value="ChatApp.settings" />
    </appSettings>


</configuration>

