{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anonymous Chat</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>

  <body>
    <header>
    <div class="mainContainer">
        <h1 class="logo"><i class="bi bi-chat-dots-fill"></i>
            <a href="{% url "chat-page" %}">Anonymous Chat</a> </h1>
        <button id="startChat">Start Chat</button>
{#         login/logout functionality#}
{#        <div class="loginLogout">#}
{#            {% if request.user.is_authenticated %}#}
{#        <form method="post" action="{% url 'logout' %}">#}
{#            {% csrf_token %}#}
{#             <button type="submit">Logout</button>#}
{#        </form>#}
{#            {% else %}#}
{#        <a href="{% url 'login' %}">Login</a>#}
{#        <a href="{% url 'signup' %}">SignUp</a>#}
{#        {% endif %}#}
{##}
{#        </div>#}


    </div>
    </header>

    <main>
    <div id="currentUser"></div>
    <div id="messages"></div>
    <br />
    <div
      id="chatContainer"
      style="display: none"
    >
      <input type="text" id="messageInput" placeholder="Type a message" />

        <div id="chatContainerButtons">
      <button type="submit" id="SendMessageButton">Send Message</button>
      <button type="button" id="disconnectButton">Disconnect & Start New Chat</button>
            </div>

      <br /><br />
    </div>
    </main>
    <script src="{% static 'app.js' %}"></script>
  </body>
</html>
