{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anonymous Chat</title>

    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>

  <body>
    <h1>Welcome to chat website!</h1>

    <button id="startChat" style="font-size: large">Start Chat</button>

    <div id="currentUser"></div>
    <div id="messages"></div>
    <br />
    <div
      id="chatContainer"
      style="display: none"
    >
      <input type="text" id="messageInput" placeholder="Type a message" />
      <button type="submit" id="SendMessageButton">Send Message</button>
      <br /><br />
    </div>

    <script src="{% static 'app.js' %}"></script>
  </body>
</html>
