<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<form action="" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username"><br>
    <input type="password" name="password" placeholder="Password"><br>
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <p>{{ error|escape }}</p>
            {% endfor %}
        {% endfor %}
    {% endif %}
    <button type="submit" name="submit">Login</button>
</form>
</body>
</html>