#chatContainer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Add a background color if needed */
    padding: 10px; /* Add padding as needed */
    margin: 20px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

body {
    background-color: lightgray;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    font-family: "Segoe UI", system-ui, sans-serif;
}
.mainContainer {
    display: flex;
    flex-direction: column;
}

.logo {
    color: #006b1b;
    font-size: 50px;
    text-align: center;
    padding-top: 0;
    text-decoration: none;
}
.logo a {
    color: #006b1b;
    text-decoration: none;
}

#startChat {
    background-color: #006b1b;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    margin: 30px auto 30px;
    transition: background-color 0.3s ease;

}
#startChat:hover {
    background-color: #004d14; /* New color when hovering */
}


#messages {
    background-color: #dadada;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    box-sizing: border-box;
    height: 400px;
    overflow-y: scroll;
    word-wrap: break-word;
    overflow-wrap: break-word;
    display: none;
}

div.FirstUserNameColor {
    color: #009a24;
    font-weight: bold;
    display: inline-block;
}

div.SecondUserNameColor {
    color: #4f93fa;
    font-weight: bold;
    display: inline-block;
}

div.SystemUserNameColor {
    color: #ff2f2f;
    font-weight: bold;
    display: inline-block;
}

#SendMessageButton, #disconnectButton {
    background-color: #006b1b;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

#disconnectButton {
    background-color: #ff2f2f;
}

#messageInput {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 20px;
    display: block;
    margin: 10px auto;
}