#chatContainer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Add a background color if needed */
    padding: 10px; /* Add padding as needed */
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

body {
    background-color: lightgray;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    font-family: "Segoe UI", system-ui, sans-serif;
}
.mainContainer {
    display: flex;
    flex-direction: column;
}

.logo {
    color: #006b1b;
    font-size: 50px;
    text-align: center;
    padding-top: 0;
    text-decoration: none;
}
.logo a {
    color: #006b1b;
    text-decoration: none;
}

#startChat {
    background-color: #006b1b;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    margin: 30px auto 30px;
    transition: background-color 0.3s ease;

}
#startChat:hover {
    background-color: #004d14; /* New color when hovering */
}

#nameInput {
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 20px;
    display: block;
    margin: 10px auto;
}


#messages {
    background-color: #dadada;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    box-sizing: border-box;
    height: 400px;
    overflow-y: scroll;
    word-wrap: break-word;
    overflow-wrap: break-word;
    display: none;
}

div.FirstUserNameColor {
    color: #009a24;
    font-weight: bold;
    display: inline-block;
}

div.SecondUserNameColor {
    color: #4f93fa;
    font-weight: bold;
    display: inline-block;
}

div.SystemUserNameColor {
    color: #ff2f2f;
    font-weight: bold;
    display: inline-block;
}

#SendMessageButton, #disconnectButton {
    background-color: #006b1b;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

#disconnectButton {
    background-color: #ff2f2f;
}

#messageInput {
    width: 100%;
    /*padding: 10px;*/
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 20px;
    margin: 10px auto;
    padding-right: 40px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#inputWrapper {
    position: relative;
    display: inline-block;
    width: 80%;
    margin: 10px auto;
}

#emojiButton {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;

    display: inline-block;
    font-size: 25px;
    border: none;
    background-color: transparent;



}
#emojiButton:hover {
    cursor: pointer;


}

#emojiDropdown {
    position: absolute;
    bottom: 60px;
    right: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-wrap: wrap;


}
.emoji {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 25px;
    /*margin: 5px;*/
}

.emoji, #emojiButton {
    transition: opacity 0.3s ease;
}

.emoji:hover, #emojiButton:hover {
    opacity: 0.8;
}

.message {
    font-size: 20px;
}

#currentUser {
    font-size: 20px;
    font-weight: bold;
    color: #009a26;
    margin: 10px auto;
}

#imageInput {
    display: none;
}

#customImageButton {
    background-color: #185627;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
    margin: 10px auto;

}

.notificationArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}

#notificationCheckBox {
    display: none;
}

label {
    font-size: 16px;
    color: #333;
}

#notificationCheckBox:checked + label::before {
    content: "\2714";
    color: #2ecc71;
    font-size: 18px;
    margin-right: 5px;
    border: 1px solid #b6b6b6;
    border-radius: 5px;
}

#notificationCheckBox:not(:checked) + label::before {
    content: "\2718";
    color: #e74c3c;
    font-size: 18px;
    margin-right: 5px;
    border: 1px solid #b6b6b6;
    border-radius: 5px;
}